# Correlation and Autocorrelation in Time Series - Lab

## Introduction

In this lab, You'll practice your knowledge on correlation, autocorrelation and the ACF and PACF.

## Objectives

You will be able to:
- Understand correlation in Time Series
- Plot and discuss the autocorrelation function (ACF) for a time-series 
- Plot and discuss the partial autocorrelation function (PACF) for a time-series 
- Interpret ACF and PACF and Identify use cases both functions

## The Exchange Rate Data

We'll be looking at the exchange rates dataset again. First, import the necessary libraries for time series and plotting. Then import the data (in `exch_rates.csv`) and make sure it's set in the correct time series format with the `datetime` as the index.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
df = pd.read_csv('exch_rates.csv')
df.head()

    Frequency      Euro  Australian Dollar  Danish Krone
0  2000-01-01       NaN                NaN           NaN
1  2000-01-02       NaN                NaN           NaN
2  2000-01-03  0.991080           1.520912      7.374034
3  2000-01-04  0.970403           1.521300      7.222610
4  2000-01-05  0.964506           1.521316      7.180170

Plot the three exchange rates in one plot

In [4]:
df =df.dropna()

       Frequency      Euro  Australian Dollar  Danish Krone
2     2000-01-03  0.991080           1.520912      7.374034
3     2000-01-04  0.970403           1.521300      7.222610
4     2000-01-05  0.964506           1.521316      7.180170
5     2000-01-06  0.962649           1.523681      7.166057
6     2000-01-07  0.972384           1.530338      7.238040
9     2000-01-10  0.977613           1.523805      7.278131
10    2000-01-11  0.975039           1.527301      7.258580
11    2000-01-12  0.970120           1.518529      7.222837
12    2000-01-13  0.973141           1.503503      7.245037
13    2000-01-14  0.977995           1.499462      7.281076
16    2000-01-17  0.990688           1.507034      7.373489
17    2000-01-18  0.990786           1.508174      7.375310
18    2000-01-19  0.989609           1.506383      7.366650
19    2000-01-20  0.991179           1.504807      7.379423
20    2000-01-21  0.990393           1.506883      7.373972
23    2000-01-24  0.997307           1.525381      7.425651
24    2000-01-25  0.999201           1.526279      7.437950
25    2000-01-26  0.998104           1.525302      7.428985
26    2000-01-27  1.002406           1.532578      7.461107
27    2000-01-28  1.015435           1.541227      7.557372
30    2000-01-31  1.021346           1.575937      7.601266
31    2000-02-01  1.029866           1.573326      7.665499
32    2000-02-02  1.029124           1.571781      7.659566
33    2000-02-03  1.025851           1.577965      7.635412
34    2000-02-04  1.016777           1.583122      7.568073
37    2000-02-07  1.023856           1.562506      7.620764
38    2000-02-08  1.009795           1.578714      7.516207
39    2000-02-09  1.006644           1.572378      7.493054
40    2000-02-10  1.013377           1.579550      7.544386
41    2000-02-11  1.020304           1.584124      7.595960
...          ...       ...                ...           ...
6863  2018-10-16  0.863036           1.401830      6.439026
6864  2018-10-17  0.867303           1.404163      6.470425
6865  2018-10-18  0.869187           1.401043      6.484659
6866  2018-10-19  0.871840           1.400610      6.504446
6869  2018-10-22  0.870019           1.408126      6.490604
6870  2018-10-23  0.871232           1.415142      6.499652
6871  2018-10-24  0.878040           1.410747      6.550531
6872  2018-10-25  0.875964           1.409863      6.535564
6873  2018-10-26  0.881446           1.422829      6.576201
6876  2018-10-29  0.878657           1.411212      6.556014
6877  2018-10-30  0.879353           1.409163      6.561203
6878  2018-10-31  0.883548           1.411203      6.592508
6879  2018-11-01  0.877732           1.391820      6.548231
6880  2018-11-02  0.875887           1.387405      6.534379
6883  2018-11-05  0.879507           1.389886      6.560774
6884  2018-11-06  0.875044           1.381607      6.527214
6885  2018-11-07  0.870549           1.371115      6.494124
6886  2018-11-08  0.875350           1.371499      6.529849
6887  2018-11-09  0.881368           1.380487      6.574476
6890  2018-11-12  0.887705           1.386862      6.622015
6891  2018-11-13  0.888021           1.387799      6.625788
6892  2018-11-14  0.885269           1.386066      6.605967
6893  2018-11-15  0.884564           1.376736      6.600796
6894  2018-11-16  0.881368           1.376961      6.576591
6897  2018-11-19  0.875120           1.370438      6.530585
6898  2018-11-20  0.875580           1.375711      6.534191
6899  2018-11-21  0.876501           1.378298      6.540188
6900  2018-11-22  0.876962           1.378672      6.543541
6901  2018-11-23  0.880902           1.383721      6.573115
6904  2018-11-26  0.880049           1.378509      6.566224

[4838 rows x 4 columns]

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.plot(df['Frequency'],df['Euro'], c='darkorange',label="Euros")
ax.plot(df['Frequency'],df['Australian Dollar'], c='c',label="Australian Dollar")
ax.plot(df['Frequency'],df['Danish Krone'], c='purple',label="Danish Krone")
ax.set_xlabel("Frequency")
ax.set_ylabel("Value in USD")
ax.legend()
plt.show()

You can see that the EUR/USD and AUD/USD exchange rate are somewhere between rougly 0.5 and 2 between 2000 and 2018, where the Danish Krone is somewhere between roughly 4.5 and 9. Now let's look at the correlations between these time series.

In [ ]:
# your code here

### What is your conclusion here? You might want to use outside resources to understand what's going on.

Next, look at the plots of the differenced series. Use subplots to plot them rather than creating just one plot.

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

### Explain what's going on

Next, let's look at the "lag 1 autocorrelation" for the EUR/USD exchange rate. Create a "lag 1 autocorrelation" series, plot the result, and look at the correlation coefficient.

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

Repeat this, but for a "lag 5 autocorrelation"

In [ ]:
# your code here

In [ ]:
# your code here

### What's your conclusion here?

Knowing this, let's plot the ACF now.

In [ ]:
# your code here

The series is heavily autocorrelated at first, and then there is a decay. This is a typical result for a series that is a random walk, generally you'll see heavy autocorrelations first, slowly tailing off until there is no autocorrelation anymore.

Next, let's look at the Partial Autocorrelation Function.

In [ ]:
# your code here

This is interesting! Remember that *Partial Autocorrelation Function* gives the partial correlation of a time series with its own lagged values, controlling for the values of the time series at all shorter lags. When controlling for 1 period lags, the PACF is only very high for one-period lags, and basically 0 for shorter lags. This is again a typical result for Random Walk series!

## The Airpassenger Data

Look at ACF and PACF for the airpassenger data and describe the result `passengers.csv`. Do this both for the differenced and regular series.

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

### Your conclusion here

## The NYSE data

Look at correlation and autocorrelation functions for the NYSE data ("NYSE_monthly.csv")

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

## Your conclusion here



## Summary

Great, you've now been introduced to correlation, the ACF and PACF. Let's move into more serious modeling with autoregressive and moving average models!